//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 25 19:32:14 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "light" LOCATE = SITE "M5" LEVEL 1;
COMP "b" LOCATE = SITE "G12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

